body{
    background-color: lightcoral;
    text-align: center;
    padding: 100px;
   
    
}
h1{
    color: black;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;    
    font-style: oblique;
    

}

button{
    background-color: lightblue;
    cursor: pointer;
    height: 50px;
    width: 100px;
    
    
}

